.Cart-items{
    display: flex;
    flex-direction: column;
}

.Cart-total{
    display: flex;
    justify-content: flex-end;
}

.Cart-total-text{
    width: 40%;
}

.Cart-empty{
    font-size: 20px;
    font-weight: 600;
}