.CartItem{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: 20px;
}

.CartItem div{
    display: flex;
    align-items: center;
    width: 20%;
}

.CartItem-name{
    font-weight: 700;
}

.CartItem-qty{
    margin: 0 0.5rem;
}